<%= form_for(@wear) do |f| %>
  <% if @wear.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wear.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @wear.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :コメント %><br>
    <%= f.text_area :text %>
    <%= f.file_field :image %>
  </div>
  
 <div class="field">
    <%= f.label :wear_list, "タグ" %><br>
    <%= text_field_tag 'wear[wear_list]', @wear.wear_list.join(',') %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>