<h1>おとこーで -OTOCOORDE-</h1>


<h2>今日のFlickrコーデ</h2>
<div class="contents row">
  <%= @url %>
  <%= image_tag @url %>

  <div align="center">
  <% @images.each do |image| %>
  <%= image_tag (FlickRaw.url image), :size => "250x250" %>
  <% end %>
  </div>

<h2>ユーザーのコーデ</h2>
  <div align="center">
  <% @wears.each do |wear| %>
  <div class="content_post" >
    <%= image_tag wear.image, :size => "250x250" %>
    <% if user_signed_in? && current_user.id == wear.user_id %>
    <div class="more">

      <ul class="more_list">
        <!-- <ul style="list-style:none"> -->
      </ul>
    </div>
    <% end %>
    <ul style="list-style:none">   

      <%= simple_format(wear.text) %>
      <span class="name">
        <a href="/users/<%= wear.user_id %>">
          <span>投稿者</span><%= wear.user.nickname %>
        </a>
      </span>
    </ul>
  </div>
  </div>
  <% end %>
</div>
</div>
