<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>

  <title>おとこーで -OTOCOORDE-</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>

<body>

  <script type='text/javascript' charset='utf-8'>
    $(function(){
      $.material.init();
    });
  </script>
  <%= render partial: 'common/header' %>

  <header class="header">
    <div class="header__bar row">
      <h1 class="grid-6"><a href="/"></a></h1>
      <% if user_signed_in? %>
      <div class="user_nav grid-6">

      </div>
      <% else %>
      <div class="grid-6">
        <div align="right">
          <ul style="list-style:none">
            <%= link_to "ログイン", new_user_session_path, class: 'post' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
          </ul>
        </div>
      </div>
      <% end %>
    </div>
  </header>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class='wrap'>
    <%= yield %>
  </div>


  <footer class='row text-center'>
    <div id="tabmenu">
      <ul style="list-style:none">
        <li>
          <%= link_to 'ホーム', "/wears/index", method: :get %>
        </li>
        <li>
          <%= link_to '検索', "/wears/search}", method: :get %>
        </li>
        <li>
          <%= link_to 'コーデ登録', "/wears/new", method: :get %>
        </li>
        <li>
<a href="http://localhost:3000/users/<%= current_user.id if current_user %>"><i class="fa fa-key fa-rotate-270"></i><span class= "category-name">マイページ</span></a>

        </li>
      </ul>
    </div>

  </footer>



  <script src="iscroll.js"></script>
</body>
</html>